@import url(normalize.css);
@import url(css/fontello.css);
/* --------------------------------------------------

	prototype
	jesse
	
-------------------------------------------------- */
/* !css libraries */
/* !extensions */
/* line 36, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('/stylesheets/css/../behaviors/box-sizing/boxsizing.php'); }

/* line 4, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto; }

/* --------------------------------------------------

	GLOBAL
	
-------------------------------------------------- */
/* !imports */
/* !opinated defaults */
/* line 6, ../scss/global/_defaults.scss */
html,
button,
input,
select,
textarea {
  color: #222; }

/* line 9, ../scss/global/_defaults.scss */
body {
  font-size: 1em;
  line-height: 1.4; }

/* line 13, ../scss/global/_defaults.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 18, ../scss/global/_defaults.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 22, ../scss/global/_defaults.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 33, ../scss/global/_defaults.scss */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/* line 36, ../scss/global/_defaults.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 41, ../scss/global/_defaults.scss */
ul, ol, li {
  margin: 0;
  padding: 0; }

/* line 45, ../scss/global/_defaults.scss */
textarea {
  resize: vertical; }

/* line 41, ../scss/global/_grid.scss */
body {
  width: 100%;
  *zoom: 1; }
  /* line 27, ../scss/global/_grid.scss */
  body:before, body:after {
    content: "";
    display: table; }
  /* line 31, ../scss/global/_grid.scss */
  body:after {
    clear: both; }

/* --------------------------------------------------

	VARIABLES
	
-------------------------------------------------- */
/* !pump the baseline */
/* !colors */
/* !fx */
/* !grids, layout */
/* !johnny utah */
/* --------------------------------------------------

	FUNCTION PARTIALS
	
-------------------------------------------------- */
/* line 6, ../scss/global/_functions.scss */
.wrapper {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto; }

/* line 22, ../scss/global/_functions.scss */
nav ul li a, footer ul li a {
  position: relative;
  font-size: 0.86667em;
  line-height: 1.53846em;
  font-weight: bold;
  text-transform: uppercase;
  color: gainsboro;
  padding: 14px;
  height: 56px;
  display: block;
  overflow: hidden; }
  /* line 32, ../scss/global/_functions.scss */
  nav ul li a span[class*="icon"], footer ul li a span[class*="icon"] {
    font-size: large; }

/* --------------------------------------------------

	MODULES
	** responsive type overrides GO LAST!
	
-------------------------------------------------- */
/* !typography */
/* line 300, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/modular-scale-1.0.6/stylesheets/_modular-scale.scss */
MODULAR-SCALE-LIST {
  ms-list: MS-LIST: 15px 17px 19px 21px 24px 27px 30px 34px 38px 43px 49px; }

/* line 61, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 93.75%; }

/* line 64, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 15px;
  line-height: 1.33333em; }

/* line 5, ../scss/modules/_typography.scss */
body {
  background: #111;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  color: #f7f7f5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

/* line 12, ../scss/modules/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase; }

/* line 16, ../scss/modules/_typography.scss */
h1 {
  font-size: 2.86667em;
  line-height: 0.93023em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.33333em; }

/* line 20, ../scss/modules/_typography.scss */
h2 {
  font-size: 1.6em;
  line-height: 1.5em;
  margin-top: 0.66667em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.33333em; }

/* line 24, ../scss/modules/_typography.scss */
h3 {
  font-size: 1.4em;
  line-height: 1.42857em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.33333em;
  text-transform: inherit;
  font-weight: lighter; }

/* line 30, ../scss/modules/_typography.scss */
h4 {
  font-size: 1.26667em;
  line-height: 1.36842em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.66667em; }

/* line 34, ../scss/modules/_typography.scss */
h5, time, .date {
  font-size: 1.13333em;
  line-height: 1.41176em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1em; }

/* line 38, ../scss/modules/_typography.scss */
h6 {
  font-size: 1.13333em;
  line-height: 2.35294em; }

/* line 41, ../scss/modules/_typography.scss */
p {
  font-size: 1em;
  line-height: 1.33333em;
  margin-top: 0.66667em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.33333em; }

/* line 45, ../scss/modules/_typography.scss */
a {
  color: #aa080a;
  text-decoration: none;
  -webkit-transition: all 260ms linear;
  -moz-transition: all 260ms linear;
  -o-transition: all 260ms linear;
  transition: all 260ms linear; }

/* line 50, ../scss/modules/_typography.scss */
hr {
  border: none;
  border-top: 1px solid #e4e0e0;
  *zoom: 1;
  width: 100%;
  height: 28px; }
  /* line 27, ../scss/global/_grid.scss */
  hr:before, hr:after {
    content: "";
    display: table; }
  /* line 31, ../scss/global/_grid.scss */
  hr:after {
    clear: both; }

/* line 57, ../scss/modules/_typography.scss */
table {
  width: 100%; }
  /* line 59, ../scss/modules/_typography.scss */
  table td {
    font-weight: bold;
    text-transform: uppercase;
    padding: 14px 0; }

/* -------------------------------------------------- */
/* !layout blocks */
/* -------------------------------------------------- */
/* line 7, ../scss/modules/_layout.scss */
.wrapper {
  *zoom: 1;
  padding: 56px 28px; }
  /* line 27, ../scss/global/_grid.scss */
  .wrapper:before, .wrapper:after {
    content: "";
    display: table; }
  /* line 31, ../scss/global/_grid.scss */
  .wrapper:after {
    clear: both; }
  @media (min-width: 600px) {
    /* line 7, ../scss/modules/_layout.scss */
    .wrapper {
      padding: 56px 56px; } }

/* line 15, ../scss/modules/_layout.scss */
.row {
  display: block;
  width: 102.29469%;
  margin: 0 -1.14734%;
  *zoom: 1;
  margin-bottom: 56px; }
  /* line 27, ../scss/global/_grid.scss */
  .row:before, .row:after {
    content: "";
    display: table; }
  /* line 31, ../scss/global/_grid.scss */
  .row:after {
    clear: both; }
  /* line 18, ../scss/modules/_layout.scss */
  .row > [class*="col"] {
    display: inline;
    float: left;
    width: 47.70531%;
    margin: 0 1.14734%; }

/* line 24, ../scss/modules/_layout.scss */
[role], footer {
  *zoom: 1; }
  /* line 27, ../scss/global/_grid.scss */
  [role]:before, [role]:after, footer:before, footer:after {
    content: "";
    display: table; }
  /* line 31, ../scss/global/_grid.scss */
  [role]:after, footer:after {
    clear: both; }

/* -------------------------------------------------- */
/* !navigation */
/* -------------------------------------------------- */
/* !responsive menu */
/* line 8, ../scss/modules/_navigation.scss */
.viewport {
  position: relative;
  overflow: hidden; }
  /* line 11, ../scss/modules/_navigation.scss */
  .viewport .menu {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 56px;
    height: 56px;
    text-indent: -9999px; }
    /* line 19, ../scss/modules/_navigation.scss */
    .viewport .menu:after {
      background: #240100;
      color: #f7f7f5;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      text-indent: 0;
      content: "\e813";
      font-family: "fontello";
      font-size: 20px !important;
      line-height: 2.8em; }
  @media (min-width: 900px) {
    /* line 38, ../scss/modules/_navigation.scss */
    .viewport .menu {
      display: none; } }
  /* line 42, ../scss/modules/_navigation.scss */
  .viewport .main, .viewport .menu {
    -webkit-transition: -webkit-transform 260ms cubic-bezier(0.94, 0.06, 0.32, 1);
    -moz-transition: -webkit-transform 260ms cubic-bezier(0.94, 0.06, 0.32, 1);
    -o-transition: -webkit-transform 260ms cubic-bezier(0.94, 0.06, 0.32, 1);
    transition: -webkit-transform 260ms cubic-bezier(0.94, 0.06, 0.32, 1); }
  /* line 46, ../scss/modules/_navigation.scss */
  .viewport.shift .main, .viewport.shift .menu {
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    transform: translateX(-300px); }

/* line 51, ../scss/modules/_navigation.scss */
.main {
  position: relative;
  width: 100%; }

/* line 56, ../scss/modules/_navigation.scss */
*.touch .main {
  -webkit-transform: translate3d(0, 0, 0); }

/* line 61, ../scss/modules/_navigation.scss */
nav ul, footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  /* line 65, ../scss/modules/_navigation.scss */
  nav ul li, footer ul li {
    position: relative;
    text-align: left;
    height: 56px; }
/* line 75, ../scss/modules/_navigation.scss */
nav ul li > ul, footer ul li > ul {
  background: #f9f9f8;
  position: relative;
  left: 0;
  width: 100%;
  display: none;
  overflow: hidden; }
/* line 83, ../scss/modules/_navigation.scss */
nav ul li > ul li, footer ul li > ul li {
  width: 100%;
  white-space: nowrap;
  display: block; }
/* line 88, ../scss/modules/_navigation.scss */
nav ul li:hover > ul, footer ul li:hover > ul {
  display: block; }

/* line 92, ../scss/modules/_navigation.scss */
[role*="navigation"] {
  background: #240100;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  padding: 0; }

@media (min-width: 900px) {
  /* line 102, ../scss/modules/_navigation.scss */
  [role*="navigation"] {
    position: relative;
    top: 0;
    bottom: auto;
    z-index: 9999 !important;
    width: 100%;
    height: 56px; }
    /* line 109, ../scss/modules/_navigation.scss */
    [role*="navigation"] a {
      color: #f7f7f5; }
      /* line 111, ../scss/modules/_navigation.scss */
      [role*="navigation"] a:hover {
        background: #aa080a;
        color: gainsboro; }
    /* line 116, ../scss/modules/_navigation.scss */
    [role*="navigation"] > ul {
      position: absolute;
      right: 0;
      width: auto; }
      /* line 120, ../scss/modules/_navigation.scss */
      [role*="navigation"] > ul > li {
        float: left;
        width: auto;
        border: none; }
    /* line 127, ../scss/modules/_navigation.scss */
    [role*="navigation"] ul li > ul {
      background: #240100;
      position: absolute;
      width: 200px; } }
/* line 1, ../scss/modules/_ui.scss */
.button {
  font-size: 15px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFAA080A', endColorstr='#FF490304');
  background-color: #aa080a;
  border: 0;
  color: #f7f7f5;
  font-size: 15px;
  padding: 9.33333px;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 4px; }
  /* line 15, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
  .button:hover {
    text-decoration: none; }
  /* line 42, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
  .button:hover {
    background-color: #920709; }
  /* line 44, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
  .button:active {
    background-color: #830608; }
  /* line 6, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
  .button.disabled, .button[disabled] {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    background: false;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  /* line 74, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
  .button::-moz-focus-inner {
    padding: 0 !important;
    margin: -1px !important; }

/* --------------------------------------------------

	VIDEO
	http://www.alistapart.com/articles/creating-intrinsic-ratios-for-video/
	
-------------------------------------------------- */
/* line 7, ../scss/modules/_misc.scss */
video {
  max-width: 100%;
  height: auto; }

/* line 12, ../scss/modules/_misc.scss */
.flex-video {
  position: relative;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden; }

/* line 20, ../scss/modules/_misc.scss */
.flex-video.widescreen {
  padding-bottom: 57.25%; }

/* line 21, ../scss/modules/_misc.scss */
.flex-video.vimeo {
  padding-top: 0; }

/* line 24, ../scss/modules/_misc.scss */
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%; }

/* --------------------------------------------------

	PARALLAX
	
-------------------------------------------------- */
/* line 37, ../scss/modules/_misc.scss */
html.no-touch .para {
  position: static !important;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: none;
  height: 100%; }

/* line 50, ../scss/modules/_misc.scss */
.cover {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); }

/* -------------------------------------------------- */
/* !type breakpoints */
/* -------------------------------------------------- */
@media (min-width: 0px) and (max-width: 800px) {
  /* line 8, ../scss/modules/_responsive_type.scss */
  html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none; }

  /* line 61, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  * html {
    font-size: 68.75%; }

  /* line 64, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 11px;
    line-height: 1.27273em; } }
/*
@include breakpoint($phablet) {
	html {
	    @include fixed-sized-text;
	}
	$base-font-size		: 16px;
	$base-line-height	: 24px;
	
	@include establish-baseline;
	
}
@include breakpoint($desktop) {
	html {
	    @include fixed-sized-text;
	}
	$base-font-size		: 20px;
	$base-line-height	: 29px;
	
	@include establish-baseline;
	
}
*/
/* -------------------------------------------------- */
/* line 26, ../scss/styles.scss */
.viewport {
  border-top: #240100 solid 10px;
  border-left: #240100 solid 10px; }

/* line 31, ../scss/styles.scss */
.panel {
  background: url("/_common/assets/images/01.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vw;
  position: relative;
  float: left;
  border-bottom: #240100 solid 10px;
  border-right: #240100 solid 10px;
  color: #f7f7f5 !important; }
  /* line 38, ../scss/global/_functions.scss */
  .panel .container {
    display: table;
    height: 100vw;
    width: 100%;
    text-align: center; }
    /* line 44, ../scss/global/_functions.scss */
    .panel .container div {
      display: table-cell;
      vertical-align: middle;
      padding: 28px; }
  @media (min-width: 600px) {
    /* line 31, ../scss/styles.scss */
    .panel {
      width: 50%;
      height: 50vw;
      position: relative; }
      /* line 38, ../scss/global/_functions.scss */
      .panel .container {
        display: table;
        height: 50vw;
        width: 100%;
        text-align: center; }
        /* line 44, ../scss/global/_functions.scss */
        .panel .container div {
          display: table-cell;
          vertical-align: middle;
          padding: 28px; } }
  @media (min-width: 1280px) {
    /* line 31, ../scss/styles.scss */
    .panel {
      width: 33.33333%;
      height: 33.33333vw;
      position: relative; }
      /* line 38, ../scss/global/_functions.scss */
      .panel .container {
        display: table;
        height: 33.33333vw;
        width: 100%;
        text-align: center; }
        /* line 44, ../scss/global/_functions.scss */
        .panel .container div {
          display: table-cell;
          vertical-align: middle;
          padding: 28px; }
      /* line 47, ../scss/styles.scss */
      .panel.intro {
        width: 66.66667%; } }
  /* line 57, ../scss/styles.scss */
  .panel .container > div {
    padding: 56px; }
    /* line 59, ../scss/styles.scss */
    .panel .container > div img {
      margin-bottom: 28px;
      width: 80%; }
    /* line 63, ../scss/styles.scss */
    .panel .container > div span {
      font-size: 150%;
      color: #f7f7f5;
      display: block; }
  /* line 72, ../scss/styles.scss */
  .panel.insta span {
    font-size: 600% !important;
    opacity: 0.2;
    -webkit-transition: all 260ms linear;
    -moz-transition: all 260ms linear;
    -o-transition: all 260ms linear;
    transition: all 260ms linear; }
  /* line 78, ../scss/styles.scss */
  .panel.insta:hover span {
    opacity: 1; }
