<!-- @include _header -->
<!-- $page home -->
<div class="panel intro">
	<div class="container">
		<div>
			<img src="<!-- @path logo-white.png -->" alt="logo">
			<h1>Food &middot; Fire &middot; Music</h1>	
			<h2>See you next year!</h2>
			<h5><a href="">Visit 2013 Website</a></h5>
		</div>
	</div>
</div>
<div id="socialblend" data-count="30" data-limit="30" data-container="#socialblend" data-instaID="40247534" data-hashtag="" data-twitterName="BurlGathering"></div>
<div class="panel">
	<div class="container">
		<div>
			<img src="<!-- @path logo-white.png -->" alt="logo">
			<a href="" class="button"><span class="icon-twitter"></span> Twitter</a> 
			<a href="" class="button"><span class="icon-facebook"></span> Facebook</a>
			<a href="" class="button">Tumblr</a>
			
		</div>
	</div>
</div>
<!-- @include _footer -->