/* -------------------------------------------------- */

/* !layout blocks */

/* -------------------------------------------------- */

.wrapper {
	@extend %wrapper;
	@include clearfix;
	padding: $spacer $spacer/2;
	@include breakpoint($phablet) {
		padding: $spacer $spacer;
	}
}
.row {
	@include row();
	margin-bottom: $spacer;
	> [class*="col"] {
		@include column (6);
	}
}


[role], footer {
	@include clearfix;
}