/* -------------------------------------------------- */

/* !type breakpoints */

/* -------------------------------------------------- */

@include breakpoint($phone) {
	html {
	    @include fixed-sized-text;
	}
	$base-font-size		: 11px;
	$base-line-height	: 14px;
	
	@include establish-baseline;
	
}
/*
@include breakpoint($phablet) {
	html {
	    @include fixed-sized-text;
	}
	$base-font-size		: 16px;
	$base-line-height	: 24px;
	
	@include establish-baseline;
	
}
@include breakpoint($desktop) {
	html {
	    @include fixed-sized-text;
	}
	$base-font-size		: 20px;
	$base-line-height	: 29px;
	
	@include establish-baseline;
	
}
*/