/* !typography */
@include ms-list-output(0, 10, $base-font-size);
@include establish-baseline;

body {
	background: #111;
	font-family: "Montserrat", "Helvetica", Arial, sans-serif;
	color: $white;
	@include improve-text-rendering;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

h1 {
	@include adjust-font-size-to(ms(9, $base-font-size), 2);
	@include rhythm(0,0,0,0.25);
}
h2 {
	@include adjust-font-size-to(ms(4, $base-font-size), 1.8);
	@include rhythm(0.5,0,0,0.25);
}
h3 {
	@include adjust-font-size-to(ms(3, $base-font-size), 1.5);
	@include rhythm(0,0,0,1);
	text-transform: inherit;
	font-weight: lighter;
}
h4 {
	@include adjust-font-size-to(ms(2, $base-font-size), 1.3);
	@include rhythm(0,0,0,0.5);
}
h5, time, .date {
	@include adjust-font-size-to(ms(1, $base-font-size), 1.2);
	@include rhythm(0,0,0,0.75);
}
h6 {
	@include adjust-font-size-to(17px);
}
p {
	@include adjust-font-size-to(ms(0, $base-font-size));
	@include rhythm(0.5,0,0,1);
}
a {
	color: $links;
	text-decoration: none;
	@include single-transition(all, 260ms, linear);
}
hr {
	border: none;
	border-top: 1px solid tint($black, 88%);
	@include clearfix;
	width: 100%;
	height: $spacer/2;
}
table {
	width: 100%;
	td {
		font-weight: bold;
		text-transform: uppercase;
		padding: $spacer/4 0;
	}
}