.button {
	@include sassy-button("flat", $radius, 15px, $primary, $primary, $white, "none");
	@include sassy-button-structure($radius, 15px, $spacer/6);
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 4px;
}
