/* --------------------------------------------------

	prototype
	jesse
	
-------------------------------------------------- */
@import "base";

/* --------------------------------------------------

	MODULES
	** responsive type overrides GO LAST!
	
-------------------------------------------------- */
@import "modules/typography";
@import "modules/layout";
@import "modules/navigation";
@import "modules/ui";
@import "modules/misc";
@import "modules/responsive_type";


/* -------------------------------------------------- */


.viewport {
	border-top: $black solid 10px;
	border-left: $black solid 10px;
}

.panel {
	background: url("/_common/assets/images/01.jpg") no-repeat;
	background-size: cover;
	width: (100%);
	height: 100vw;
	@include vert-centre((100vw));

	@include breakpoint($phablet) {
		width: (100%/2);
		height: 50vw;
		@include vert-centre((50vw));
	}
	@include breakpoint($desktop) {
		width: (100%/3);
		height: 33.33333vw;
		@include vert-centre((33.33333vw));
		&.intro {
			width: (100%/1.5);
		}
	}
	float: left;
	border-bottom: $black solid 10px;
	border-right: $black solid 10px;
	color: $white !important;

	.container {
		> div {
			padding: $spacer;
			img {
				margin-bottom: $spacer/2;
				width: 80%;
			}
			span {
				font-size: 150%;
				color: $white;
				display: block;
			}
		}
	}

	&.insta {
		span {
			font-size: 600% !important;
			opacity: 0.2;
			@include single-transition(all, 260ms, linear);
		}
		&:hover {
			span {
				opacity: 1;
			}
		}
	}
}




